<nav class="header">

    <div class="navbar">
        <a href="/">Home</a> |
        <a href="">Contact Us</a>  |
        <a href="">Login</a> |
        <a href="/addnewpost">Add a post</a>
    </div>

</nav>